<h1 class="pixel">?</h1>
<h2>Get your ideas and team together!</h2>  

<p>
Final submissions will be judged equally on originality, feasibility, potential impact, and benefit to UBC, and will involve the following components:
<ul>
<li>a stand-up 10 minute presentation to a panel of judges</li>
<li>a tangible demonstration of your idea (prototype and/or detailed storyboard)</li>
<li>a 90-second promotional video</li>
<li>a 1,000 word written submission</li>
</ul>
</p>
Email us at digitalu@magic.ubc.ca by October 31, 2012 to register your team.  Your email should include:
Project Title (draft only)
Initial Description of APP/SERVICE (draft only - 300 words maximum)
Team Members (draft only – names and email addresses)
Any initial questions or requests 
Teams may also register after October 31, 2012, but may then miss access to contest updates and events as well as design, technical and media support.   
FINAL SUBMISSION:
Submit your entry to digitalu@magic.ubc.ca by January 15, 2013.  Formal submission guidelines will be distributed to registered teams in November.
Winners will be announced on or before February 10, 2013.