<h1 class="pixel">!</h1>
<h2>Rules</h2>

<p>The Digital*U Contest is open to all UBC campuses and communities, including students, alumni, staff, faculty, residents, departments, units, and facilities.
A maximum of two (2) entries will be considered from any individual or group. When entries of a substantially similar nature are encountered, precedence will be 
given in the order of team registration and proposal submission. </p>

<p>
A jury of independent peers and experts will give equal weight to the following five (5) criteria in selecting winning entries:
<ul>
<li>Originality of the mobile idea</li>
<li>Feasibility of development</li>
<li>Breadth of audience & impact</li>
<li>Potential for enhancing UBC</li>
<li>Excellence of storytelling</li>
</ul>
</p>

<p>
All submissions will become the exclusive property of UBC to display, distribute, develop and apply as it so chooses.  
Applicants will be invited to become beneficial participants in the further refinement and development of their ideas, should that take place.  
Applicants may optionally choose to develop their ideas as their own ventures in conjuntion with the UBC MAGIC Lab  
and/or within UBC programs such as entrepreneurship@UBC.</p>