Rules
The Digital*U Contest is open to all UBC campuses and communities, including students, alumni, staff, faculty, residents, departments, units, and facilities.
A maximum of two (2) entries will be considered from any individual or group.  
When entries of a substantially similar nature are encountered, precedence will be given in the order of team registration and proposal submission.
A jury of independent peers and experts will give equal weight to the following five (5) criteria in selecting winning entries:
Originality of the mobile idea
Feasibility of development
Breadth of audience & impact
Potential for enhancing UBC
Excellence of storytelling
All submissions will become the exclusive property of UBC to display, distribute, develop and apply as it so chooses.  
Applicants will be invited to become beneficial participants in the further refinement and development of their ideas, should that take place.  
Applicants may optionally choose to develop their ideas as their own ventures in conjuntion with the UBC MAGIC Lab  and/or within UBC programs such as entrepreneurship@UBC.