* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

html, body, .container {
  height: 100%; }

.container {
  background-color: rgba(0, 0, 0, 0.3); }

@media (max-width: 480px) {
  body {
    background: url("../img/nebula.jpg") no-repeat top center fixed; }

  .nav {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    margin-top: 10px;
    margin-left: -15px !important; }
    .nav h1 {
      font-family: 'SilkscreenNormal';
      font-size: 35px;
      color: rgba(17, 12, 34, 0.8);
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      margin: 0 0; }
    .nav ul {
      background-color: rgba(0, 0, 0, 0.5);
      list-style-type: none;
      padding: 0;
      margin: 0;
      margin-left: -10px;
      width: 115%; }
      .nav ul li {
        padding: 0 10px;
        display: inline;
        font-family: 'SilkscreenNormal';
        font-size: 18px;
        line-height: 30px; }
        .nav ul li a {
          color: rgba(255, 255, 255, 0.7);
          text-decoration: none;
          padding: 0;
          margin: 0; }
      .nav ul li:first-child {
        margin-left: 10px; }
      .nav ul li.active {
        border-bottom: solid 6px white; }

  .content {
    margin-top: 10px;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5); }
    .content h1, .content h2 {
      text-align: center; }
    .content h2 {
      font-size: 20px;
      line-height: 26px; } }
@media (min-width: 481px) {
  body {
    background: url("../img/nebula.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .container {
    padding: 30px 0 0 0;
    overflow-x: hidden; }

  .nav {
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    margin-left: -15px !important;
    width: 115%; }
    .nav h1 {
      margin-left: 35px;
      margin-bottom: 15px;
      font-family: 'SilkscreenNormal';
      font-size: 6.5em;
      color: rgba(17, 12, 34, 0.8);
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
    .nav ul {
      border-top: double 2px rgba(255, 255, 255, 0.9);
      border-bottom: double 2px rgba(255, 255, 255, 0.9);
      background-color: rgba(0, 0, 0, 0.5);
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%; }
      .nav ul li {
        display: inline;
        padding: 0 50px;
        font-size: 30px;
        line-height: 50px;
        font-family: 'SilkscreenNormal'; }
        .nav ul li a {
          color: rgba(255, 255, 255, 0.7);
          text-decoration: none; }
        .nav ul li a:hover {
          color: white; }
      .nav ul li.active {
        border-bottom: solid 11px white; }
        .nav ul li.active a {
          color: white; }

  .content {
    min-height: 75%;
    margin-top: 90px;
    color: white; }
    .content h1, .content h2 {
      text-align: center; } }
