* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

html, body, .container {
  height: 100%; }

.pixel {
  font-family: 'SilkscreenNormal'; }

a, a:active, a:visited {
  color: #ff0097;
  font-weight: bold; }

a:hover {
  color: #ff0097; }

@media (max-width: 480px) {
  body {
    background: url("../img/nebula.jpg") no-repeat top center fixed;
    padding: 0; }

  .container {
    overflow-x: hidden; }

  .nav {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    padding: 0px 20px 0px 20px;
    position: fixed;
    top: 10px;
    left: -15px;
    background: inherit;
    z-index: 10;
    height: 50px; }
    .nav h1 {
      font-family: 'SilkscreenNormal';
      font-size: 35px;
      color: rgba(17, 12, 34, 0.8);
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      margin: 0 0; }
    .nav ul {
      background-color: rgba(0, 0, 0, 0.5);
      list-style-type: none;
      padding: 0;
      margin: 0;
      margin-left: -10px;
      width: 115%; }
      .nav ul li {
        padding: 0 10px;
        display: inline;
        font-family: 'SilkscreenNormal';
        font-size: 18px;
        line-height: 30px; }
        .nav ul li a {
          color: rgba(255, 255, 255, 0.7);
          text-decoration: none;
          padding: 0;
          margin: 0; }
      .nav ul li:first-child {
        margin-left: 10px; }
      .nav ul li.active {
        border-bottom: solid 6px white; }

  .background {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    width: 150%;
    z-index: -1;
    position: fixed;
    top: 45px;
    left: -30px; }

  .content-wrapper {
    position: absolute;
    top: 110px;
    height: 80%;
    overflow-y: auto; }

  .content {
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
    padding: 20px; }
    .content h1, .content h2 {
      text-align: center; }
    .content h2 {
      font-size: 20px;
      line-height: 26px;
      margin-top: 1.2em; } }
@media (min-width: 481px) {
  body {
    background: url("../img/nebula.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .container {
    padding: 30px 0 0 0;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    overflow-y: hidden; }

  .nav {
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    margin-left: -15px !important;
    width: 115%; }
    .nav h1 {
      margin-left: 35px;
      margin-bottom: 15px;
      font-family: 'SilkscreenNormal';
      font-size: 6.5em;
      color: rgba(17, 12, 34, 0.8); }
    .nav ul {
      border-top: double 2px rgba(255, 255, 255, 0.9);
      border-bottom: double 2px rgba(255, 255, 255, 0.9);
      background-color: rgba(0, 0, 0, 0.5);
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%; }
      .nav ul li {
        display: inline;
        padding: 0 50px;
        font-size: 30px;
        line-height: 50px;
        font-family: 'SilkscreenNormal'; }
        .nav ul li a {
          color: rgba(255, 255, 255, 0.7);
          text-decoration: none; }
        .nav ul li a:hover {
          color: white; }
      .nav ul li.active {
        border-bottom: solid 11px white; }
        .nav ul li.active a {
          color: white; }

  .content-wrapper {
    height: 100%;
    overflow-y: auto; }

  .content {
    min-height: 75%;
    margin-top: 70px;
    color: white; }
    .content h1 {
      font-size: 120px;
      padding: 8px; }
    .content .secondary {
      margin-top: 1.2em; }
    .content h1, .content h2 {
      text-align: center; } }
::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.4); }
